<div class="col-md-12 col-sm-12">
	<br>
	<div class="card mb-12">
        	<div class="card-header">
			<strong>{$entry['entry_name']}</strong>
		</div>
		<div class="card-body">
			{if count($entry_tags)> 0}
			<nav aria-label="toolbutton">
				<ul class="list-group">
  					<li class="list-group-item align-items-left">
					{section name=tagIndex loop=$entry_tags}
    						<span class="badge badge-light">{$entry_tags[tagIndex]['tag_name']}</span>
		       	       		{/section}
  					</li>
				</ul>
				<br>
			</nav>
			{/if}
			{$entry['entry_text']}
            	</div>
	</div>
</div>