<div class="col-md-10 col-sm-10">
	<br>
	<div class="card mb-12">
        	<div class="card-header">
			<strong><a href="/">{$entry['entry_name']}</a></strong>
		</div>
		<div class="card-body">
			<nav aria-label="toolbutton">
  				<ul class="pagination">

    					<li class="page-item"><a class="page-link" href="/"><i class="material-icons">reply</i></a></li>
    					<li class="page-item"><a class="page-link" href="/entry/print/{$entry['entry_id']}" target="_blank"><i class="material-icons">print</i></a></li>
    					<li class="page-item"><a class="page-link" href="#" onclick="return saveEntry('{$entry['entry_id']}'); "><i class="material-icons">save</i></a></li>
    					<li class="page-item"><a class="page-link" href="/entry/view/{$entry['entry_id']}"><i class="material-icons">dashboard</i></a></li>
    					<li class="page-item"><a class="page-link" href="/entry/edittags/{$entry['entry_id']}"><i class="material-icons">format_list_numbered</i></a></li>

  				</ul>
			</nav>
			
			<form id="edit_entry_form">
				<div class="form-group">
    					<input type="text" class="form-control" id="entry_name" placeholder="Entry title" value="{$entry['entry_name']}"></input>
    					<input type="hidden" id="entry_id" value="{$entry['entry_id']}"></input>
				</div>
  				<div class="form-group">
					<textarea name="entry_text" id="entry_text" rows="20" cols="213">{$entry['entry_text']}</textarea>
  				</div>


			</form>
            	</div>
            	<div class="card-footer small text-muted"><a href="/">Back</a></div>
	</div>
</div>
<script>
{literal}


function saveEntry( entry_id ) {
	var entry_text_content = $("#entry_text").val();
	var entry_name_content = $("#entry_name").val();
	$.ajax({
        	type: "POST",
	        url: "/entry/save/" + entry_id,
        	data: { entry_id: entry_id, entry_name: entry_name_content, entry_text: entry_text_content }
	}).fail(function(data) {
		alert("Entry saving error!");
	}).done(function(data) {
		alert("Entry saved!\n" + data);
		location.reload(true);
	});
}
{/literal}
</script>