<div class="col-md-8 col-sm-8">
	<br>
	<div class="card mb-12">
        	<div class="card-header">
			<strong><a href="/">{$entry['entry_name']}</a></strong>
		</div>
		<div class="card-body">
			<nav aria-label="toolbutton">

				{if count($entry_tags)> 0}
				<ul class="list-group">
  					<li class="list-group-item align-items-left">
					{section name=tagIndex loop=$entry_tags}
    						<span class="badge badge-primary">{$entry_tags[tagIndex]['tag_name']}</span>
		       	       		{/section}
  					</li>
				</ul>
				<br>
				{/if}
  				<ul class="pagination">

    					<li class="page-item"><a class="page-link" href="/"><i class="material-icons">reply</i></a></li>
    					<li class="page-item"><a class="page-link" href="/entry/print/{$entry['entry_id']}" target="_blank"><i class="material-icons">print</i></a></li>
    					<li class="page-item"><a class="page-link" href="/entry/edit/{$entry['entry_id']}"><i class="material-icons">mode_edit</i></a></li>
    					<li class="page-item"><a class="page-link" href="/entry/edittags/{$entry['entry_id']}"><i class="material-icons">format_list_numbered</i></a></li>
  				</ul>

			</nav>
			<br>
			{$entry['entry_text']}
            	</div>
            	<div class="card-footer small text-muted"><a href="/">Back</a></div>
	</div>
	<br>
</div>

<br>

<div class="col-md-2 col-sm-2">
	<br>
	<div class="card mb-12">
        	<div class="card-header">
			<strong><a href="/">Ingredients</a></strong>
		</div>
		<div class="card-body">
			{if count($ingredients)> 0}
			<ul>
				{section name=ingredientIndex loop=$ingredients}
				<li class="">{$ingredients[ingredientIndex]['ingredient_name']}</li>
	       	       		{/section}
			</ul>
			{/if}
			<br>
            	</div>
            	<div class="card-footer small text-muted">&nbsp;<br></div>
	</div>
</div>