<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]--> 
<head>
	{include file='../parts/header.part.view.html'}
</head>
<body>
	<div class="page-wrapper page-content">
	        <header class="header">  
			{include file='../parts/top_nav.part.view.html'}
	        </header>
		<div class="container-fluid">
			<div class="row">
				{$left_menu}
				{$content}
			</div>
		</div>
	</div>
</body>
	{include file='../parts/js.part.view.html'}
</html>