<div class="col-md-2 col-sm-2">
	<br>
	<div class="card mb-12">
        	<div class="card-header">
			Tags
		</div>
		<div class="card-body">
		{if !empty($tags[0]['tags'])}
			<a href="#" id="control_0" class="control"><strong>- {$tags[0]['group_name']}</strong></a><br>
			<ul class="control_list control_0">
				{section name=selectedIndex loop=$tags[0]['tags']}
				<a href='#' onclick='return unselectTag( site, "{$tags[0]['tags'][selectedIndex]['tag_id']}", "{$tags[0]['tags'][selectedIndex]['tag_name']}" )'>
					<li class="tag selected" id='tag_{$tags[0]['tags'][selectedIndex]['tag_id']}'>{$tags[0]['tags'][selectedIndex]['tag_name']}</li>
				</a>
       	       	       		{/section}
			</ul>
		{/if}
		{if count($tags) > 1}
			{section name=groupIndex start=1 loop=$tags}
			<a href="#" id="control_{$smarty.section.groupIndex.index}" class="control"><strong>- {$tags[groupIndex]['group_name']}</strong></a><br>
			<ul class="control_list control_{$smarty.section.groupIndex.index}" style="display:none;">
				{section name=tagIndex loop=$tags[groupIndex]['tags']}
				<a href='#' onclick='return selectTag( site, "{$tags[groupIndex]['tags'][tagIndex]['tag_id']}", "{$tags[groupIndex]['tags'][tagIndex]['tag_name']}" )'>
					<li class="tag" id='tag_{$tags[groupIndex]['tags'][tagIndex]['tag_id']}'>{$tags[groupIndex]['tags'][tagIndex]['tag_name']}</li>
				</a>
       	       			{/section}
			</ul>
			{/section}
		{/if}
		</div>
	</div>

<script>
	
$( document ).ready(function() {
   
	$(".control_list").hide();
	$(".control_0" ).show();

	$(".control").click(function() {
		$(".control_list").hide();
		$("." + $( this ).attr('id') ).show();
	});

});	

</script>
</div>