<div class="col-md-10 col-sm-10">
	<br>
	{if count($entries) > 0}
		<div class="card mb-12">
                	<div class="card-header">
				Entries 
			</div>
			<div class="card-body">
				<ul>
					{section name=entryIndex loop=$entries}
					<a href='/entry/view/{$entries[entryIndex]["entry_id"]}'>
						<li class="entry entry-selected" id='entry_{$entries[entryIndex]["entry_id"]}'>
							{$entries[entryIndex]['entry_name']}
						</li>
					</a>
					{/section}
				</ul>
                    	</div>
                    	<div class="card-footer small text-muted"><br></div>
		</div>
	{/if}
</div>
