<div class="col-md-9 col-sm-9">
	<br>
	<div class="card mb-12">
        	<div class="card-header">
			<strong><a href="/">{$entry->GetName()}</a></strong>
		</div>
		<div class="card-body">
			<nav aria-label="toolbutton">
  				<ul class="pagination">

					<li class="page-item"><a class="page-link" href="#" onclick="window.location.href = '{$href}';"><i class="material-icons">reply</i></a></li>
					<li class="page-item"><a class="page-link" href="{$entry->GetUiPrintUrl()}" target="_blank"><i class="material-icons">print</i></a></li>
					<li class="page-item"><a class="page-link" href="#" onclick="return saveEntry('{$entry->GetId()}'); "><i class="material-icons">save</i></a></li>
					<li class="page-item"><a class="page-link" href="{$entry->GetUiViewUrl()}"><i class="material-icons">dashboard</i></a></li>

  				</ul>
			</nav>
			
			<form id="edit_entry_form">
				<div class="form-group">
                                        <textarea placeholder="Entry title" name="entry_name" id="entry_name" class="form-control" rows="1" cols="213">{$entry->GetName()}</textarea>   
    					<input type="hidden" id="entry_id" value="{$entry->GetId()}"></input>
				</div>
  				<div class="form-group">
					<textarea placeholder="Entry text"  name="entry_text" id="entry_text" class="form-control" rows="20" cols="213">{$entry->GetText()}</textarea>
  				</div>


			</form>
            	</div>
            	<div class="card-footer small text-muted"><a href="/">Back</a></div>
	</div>
</div>
