<div class="col-md-12 col-sm-12">
	<br>
	<div class="card mb-12">
        	<div class="card-header">
			<strong>{$entry->GetName()}</strong>
		</div>
		<div class="card-body">
			{if $entry_tags->count() > 0}
			<nav aria-label="toolbutton">
				<ul class="list-group">
  					<li class="list-group-item align-items-left">
               	                        {foreach from=$entry_tags key=entry_tagIdx item=entry_tag name=entry_tagLoop}
    						<span class="badge badge-light">{$entry_tag->GetName()}</span>
   	       	                        {/foreach}
  					</li>
				</ul>
				<br>
			</nav>
			{/if}
			{$entry->GetText()}
            	</div>
	</div>
</div>