<br><br>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Groups tree</h5>
    </div>
    <div class="card-body" id="cont">
        <ul id="groups_tree" class="sortableLists list-group">
            {foreach from=$tree->GetRoots() key=treeIdx item=node name=treeLoop}
                {include file='groups_tree.html' node=$node}
            {/foreach}
        </ul>
    </div>
    <div class="card-footer">
        <button id="btnOut" type="button" class="btn btn-success"> <i class="glyphicon glyphicon-ok"></i> Save</button>
    </div>
</div>
