<div class="col-md-3 col-sm-3">
    <br>
    <div class="card mb-12">
        <div class="card-header">Tags</div>
	<div class="card-body">
	    {if count($selected) > 0}	
	    <a href="#" id="control_0" class="control"><strong>- Selected</strong></a><br>
	    <ul class="control_list control_list_control_0" style="display:none;">
	    {foreach from=$selected key=selectedIdx item=selectedTag name=selectedLoop}
	        <li class="tag" id='tag_{$selectedTag->GetId()}'>
		    <a href='#' onclick='return unselectTag( site, "{$selectedTag->GetId()}", "{$selectedTag->GetName()}" )'>{$selectedTag->GetName()}</a>
		</li>
	    {/foreach}
	    </ul>
	    {/if}
		
	    {foreach from=$groups key=groupIdx item=group name=groupLoop}
	    <a href="#" id="control_{$group->GetId()}" class="control"><strong>- {$group->GetName()}</strong></a><br>
	    <ul class="control_list control_list_control_{$group->GetId()}" style="display:none;">
                {foreach from=$tags key=tagIdx item=tag name=tagLoop}
                    {if $tag->GetParentId() eq $group->GetId()}
	    	        <li class="tag" id='tag_{$tag->GetId()}'>
	    	            <a href='#' onclick='return selectTag( site, "{$tag->GetId()}", "{$tag->GetName()}" )'>{$tag->GetName()}</a>
		        </li>
        	    {/if}
                {/foreach}
	    </ul>
	    {/foreach}

        </div>
    </div>
</div>